<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/css/mainpage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="../static/waterTowerClass.js"></script>
    <script src="../static/liquidProperties.js"></script>
    <script src="../static/metalProperties.js"></script>
    <script src="../static/model.js"></script>
    <script src="../static/pipe.js"></script>
    <script src="../static/barrierClass.js"></script>
    <script src="../static/bucket.js"></script>
    <script src="../static/graph.js"></script>
</head>
<body>
<div class="align">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        <span>{{ message }}</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
    <nav class="sidebar">
        <ul class="sidebar">
            <li><button type="button" onclick="window.location.href='/'">Главная страница</button></li>
            <li><button type="button" onclick="window.location.href='profile'">Мой профиль</button></li>
            {% if user.role != "student" %}
                <li><button type="button" onclick="window.location.href='students'">Список студентов</button></li>
            {% endif %}
            <li><button type="button" onclick="window.location.href='logout'">Выйти</button></li>
        </ul>
    </nav>
<hr>
<div class="content">
    <div class="input-param-my">
        <h2 class="my-block">Входные параметры</h2>
        <form id="InputParams">
            <div class="input-group-my">
                <label for="widthWall">Толщина стенок трубубопровода (δ):<br>0,5 - 6 мм</label>
                <input type="value" id="widthWall" name="widthWall" required value="0.5">
            </div>
        </form>
        <button class="send" onclick="prepareScene()">Визуализировать</button>
        <button class="send" onclick="drawGraphOfRelationTimeToDeltaP()">Построить график</button>
        <br>
        <h2 class="my-block">Выходные параметры</h2>
        <div class="input-group-my">
            <label id="my-label">Время заполнения <br> сосуда: t (c)</label>
            <input id="myInput" readonly>

        </div>
        <div hidden class="input-group-my-slider">
            <input type="range" id="slider" min="0.1" max="1" step="0.01" value="0.7">
            <p>Значение: <span id="sliderValue">0.7</span></p>
            <script src="../static/slider.js"></script>
        </div>
    </div>
    <div class="middle-blocks">
        <div class="model2d">
            <canvas id="canvas" width="1100" height="700"></canvas>
        </div>
    </div>
    <form id="InputParamsRight">
            <div class="input-group-my">
                <label for="heightWaterTower">Высота резервуара (h):<br> 5 - 15 м</label>
                <input type="value" id="heightWaterTower" name="heightWaterTower" required value="5">
            </div>
            <div class="input-group-my">
                <label for="pipeLen">Длина трубопровода (L): <br>10 - 50 м</label>
                <input type="value" id="pipeLen" name="pipeLen" required value="10">
            </div>
            <div class="input-group-my">
                <label for="heightPipe">Диаметр трубопровода (D):<br> 10 - 25 мм</label>
                <input type="value" id="heightPipe" name="heightPipe" required value="10">
            </div>
            <div class="input-group-my">
                <label for="bucketVolume">Объем сосуда (W):<br> 10 - 50 л</label>
                <input type="value" id="bucketVolume" name="bucketVolume" required value="10">
            </div>
            <div class="input-group-my">
                <label>Жидкость:</label>
                    <select name="liquid" id="liquid">

                        <option value="water">Вода</option>
                        <option value="oil">Минеральное масло</option>
                        <option value="amg_10">АМГ-10</option>
                        <option value="glycerin">Глицерин</option>
                        <option value="cylindrical">Цилиндровое</option>
                        <option value="industrial_I50A">Индустриальное И50А</option>
                        <option value="industrial_I20A">Индустриальное И20А</option>
                        <option value="turbine">Турбинное</option>
                        <option value="kerosene">Керосин</option>
                        <option value="mercury">Ртуть</option>
                        <!--<option value="silicone_liquid">Силиконовая жидкость</option>-->
                        <option value="water_distilled">Вода дистиллированная</option>

                </select>
            </div>
            <div class="input-group-my">
            <label>Материал трубы:</label>
            <select name="metal" id="metal">
                    <option value="copper">Медь</option>
                    <option value="aluminium">Алюминий</option>
                    <option value="steel">Сталь</option>
                    <option value="iron">Чугун</option>
                    <option value="brass">Латунь</option>
                    <!--<option value="wood">Древесина</option>-->
                    <option value="bronze">Бронза</option>
            </select>
            </div>
        </form>
</div>
    <div class="graph">
        <canvas id="canvas2" width="1300" height="600"></canvas>
    </div>
</body>