<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/css/mainpage.css">
    <script src="../static/model.js"></script>
    <script src="../static/pipe.js"></script>
    <script src="../static/barrierClass.js"></script>
    <script src="../static/bucket.js"></script>
    <script src="../static/waterTowerClass.js"></script>
</head>
<body>
<div class="logo">
    <img src="/static/logo.jpg" alt="Ошибка загрузки">
</div>
<hr>
    <nav class="sidebar">
        <ul class="sidebar">
            <li><button type="button" onclick="window.location.href='/'">Главная страница</button></li>
            <li><button type="button" onclick="window.location.href='profile'">Мой профиль</button></li>
            {% if user.role != "student" %}
                <li><button type="button" onclick="window.location.href='students'">Список студентов</button></li>
            {% endif %}
            <li><button type="button" onclick="window.location.href='logout'">Выйти</button></li>
        </ul>
    </nav>
<hr>
<div class="content">
    <div class="input-param">
        <h2>Входные параметры</h2>
        <form id="InputParams" action="/calculation" method="POST">
            <div class="input-group">
                <label for="widthWall">Толщина стенок трубы:</label>
                <input type="value" id="widthWall" name="widthWall" required value=10>
            </div>
            <div class="input-group">
                <label for="widthWaterTower">Ширина резервуара:</label>
                <input type="value" id="widthWaterTower" name="widthWaterTower" required value="160">
            </div>
            <div class="input-group">
                <label for="heightWaterTower">Высота резервуара:</label>
                <input type="value" id="heightWaterTower" name="heightWaterTower" required value="500">
            </div>
            <div class="input-group">
                <label for="pipeLen">Длина трубы:</label>
                <input type="value" id="pipeLen" name="pipeLen" required value="785">
            </div>
            <div class="input-group">
                <label for="heightPipe">Диаметр трубы:</label>
                <input type="value" id="heightPipe" name="heightPipe" required value="80">
            </div>
            <div class="input-group">
                <label for="widthBucket">Ширина сосуда:</label>
                <input type="value" id="widthBucket" name="widthBucket" required value="80">
            </div>
            <div class="input-group">
                <label for="heightBucket">Высота сосуда:</label>
                <input type="value" id="heightBucket" name="heightBucket" required value="100">
            </div>
            <div class="input-group">
                <label for="bucketWallWidth">Толщина стенок сосуда:</label>
                <input type="value" id="bucketWallWidth" name="bucketWallWidth" value="5">
            </div>
            <label>Жидкость:</label>
            <select name="liquid">
                <option value="---">---</option>
                <option value="water">Вода</option>
                <option value="oil">Минеральное масло</option>
            </select>
            <label>Материал трубы:</label>>
            <select name="metal">
                <option value="---">---</option>
                <option value="copper">Медь</option>
                <option value="aluminium">Алюминий</option>
                <option value="steel">Сталь</option>
            </select>
            <div class="input-group">
                <label for="defLiquidSpeed">Начальная скорость жидкости:</label>
                <input type="value" id="defLiquidSpeed" name="defLiquidSpeed">
            </div>
            <input type="submit" value="Submit">
        </form>
        <button onclick="prepareScene()">Draw</button>
    </div>
    <div class="middle-blocks">
        <div class="model3d">

            <canvas id="canvas" width="10001" height="10001">

            </canvas>
        </div>
    </div>
        <!-- <div class="graph">
            <h2>Осциллографф</h2>
            <canvas>

            </canvas>
        </div>
    </div>-->
    <div class="output-param">
        <h2>Выходные параметры</h2>
        <label>ΔP = {{ Part }}</label><br>
        <label>ΔR = {{ absolute }}</label>
    </div>

</div>
</body>